*{
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

body{
    background-color: black;
}

#block{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: none;
}

#scoreCard{
    height: 30px;
    width: 125px;
    background-color: red;
    color: white;
    position: absolute;
    text-align: center;
    z-index: 2;
    box-sizing: border-box;
    font-size: 20px;
    
}

#restart{

    width: 200px;
    height: 100px;
    background-color: red;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    text-align: center;
    color: white;
    font-size: 30px;
}

#restart:hover{
    background-color: rgb(37, 3, 3);
}

#timer{

    height: 30px;
    width: 125px;
    background-color: red;
    color: white;
    position: absolute;
    text-align: center;
    z-index: 2;
    box-sizing: border-box;
    font-size: 20px;
    right: 0;
    top: 0;

}
