*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #333333;
}

:root{
    --color-light-black: #343434;
    --color-red:#2a0000 ;
    --color-light-red: #d63838;
    --color-gray: #333333;
    --color-dark-gray: #262626;
    --color-black: #0A0A0A;
}

h1{
    color: white;
    font-size: 45px;
    font-family: 'Be Vietnam Pro';
    margin: 20px;
    display: flex;
    position: relative;
    left: 300px;
    width: 300px;
}


.header{
    width: 100%;
    height: 60px;
    background-color: var(--color-black);
    border-bottom: 2px solid #d63838;
    display:flex;
    box-shadow: 0px 3px 15px 5px #4a0000;
    padding:0;
}

.profilepicbut{
    display: inline-block;
    position: absolute;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 60px;
    height: 60px;
    right: 5px;
    border: 0;
    background-color: transparent;
    
}

.profilepic{
    display: block;
    width: 45px;
    height: 45px;
}
.profilepic:hover{
    transform: scale(1.1);
}

.cuhanilogotextdiv{
    position: relative;
    padding: 0;
    width:180px;
    height: auto;
    margin: auto;
    display: inline-block;
}

.cuhanilogotext{
    height: 58px;
    width: 180px;
    left:0;
}

#logobut{
    padding:0;
    margin:0;
    height: 58px;
    width: 180px;
    background: transparent;
    border: none;
}

.menubutton{
    background-color: transparent;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 6px;
    left: 10px;
    padding: 0;
    border: 0;
    display:flex
}

.menubuttonimage{
    height: 45px;
    width: 45px; 
}

.menuslider{
    background-color: var(--color-black);
    position: absolute;
    height: 93%;
    width: 300px;
    display: none;
    z-index: 2;
}

.menubutton:hover{
    transform: scale(1.1);
}

.line{
    width: 100%;
    height: 2px;
    background-color: var(--color-light-red);
    position: relative;
    box-shadow: 0px 3px 15px 5px #4a0000;
    margin-top: 30px;

}

.under{
    top: 550px;
}

.card-container{
    width: 100%;
    height: 520px;

}

.card{
    width: 250px;
    height: 450px;
    background-color: var(--color-black);
    position: relative;
    border-radius: 25px;
    margin: 20px;
    margin-left: 42px;
    margin-right: 20px;
    display: inline-block;
    transition: transform .2s;
    overflow: hidden;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0px 3px 15px 5px #4a0000;

}

.card:hover .volume-control {
    display: block;
}

.video {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video:hover {
    filter: brightness(70%); 
}

.volume-control {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 80px;
    z-index: 1;
}

.upload-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}


.video-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.uploadedVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button{
    height: 100px;
    width: 100%;
    position: relative;
    color: white;
    background-color: #0A0A0A;
    padding: 10px;
    text-align: left;
    border: none;
    font-family: 'Be Vietnam Pro';
}

.button:hover{
    background-color: #262626;
}
