*{
  margin: 0;
  padding: 0;
}

body{
	background: linear-gradient(-45deg,  #000000, #11100f, #333333 );
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

:root{
    --color-light-black: #343434;
    --color-red:#2a0000 ;
    --color-gray: #333333;
    --color-dark-gray: #262626;
    --color-black: #0A0A0A;
}

.parent{
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;

}

.square{
  position: relative;
  background-color: var(--color-black);
  opacity: 75%;
  width: 550px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-items: center;
  border-radius: 25px;
  top: 145px;
  border: 2px solid #d63838;
  box-shadow: 0px 0px 15px 5px #4a0000;
}

.cuhanitext{
  color: #FFFFFF;
  z-index: 2;
  position: absolute;
  font-size: 90px;
  font-family: 'Be Vietnam Pro';
  top: 10px;
  left: 120px;
  margin: 0;
}




.btn-style{
    background-color: var(--color-red);
    position: absolute;
    width: 150px;
    height: 45px;
    z-index: 2;
    top: 400px;
    left: 205px;
    font-family: "Be Vietnam Pro";
    font-size: medium;
    color: white;
    border-radius: 20px;
    transition: transform .2s;
    border: 2px solid #d63838;
    box-shadow: 0px 0px 15px 5px #4a0000;
    cursor: pointer;
}
.btn-style:hover{
  transform: scale(1.05);
  box-shadow: #4a0000 0px 8px 24px;
}
.an-btn{
  background: transparent;
  width: 300px;
  height: 100px;
  left: 217px;
  position: absolute;
  font-size: small;
  vertical-align: middle;
  line-height: 15px;
  color: white;
  display: flex;   
  font-family: 'Be Vietnam Pro';
  border: none;
  outline: none;
  cursor: pointer;
}

#log-btn.an-btn{
  width: 200px;
  height: 100px;
  top: 560px;
  left: 250px;
  position: absolute;
  font-size: small;
  vertical-align: middle;
  line-height: 15px;
  color: white;
  display: flex;   
  font-family: 'Be Vietnam Pro';
}

#reg-btn.an-btn{
  width: 200px;
  height: 100px;
  top: 455px;
  left: 180px;
  position: absolute;
  font-size: small;
  vertical-align: middle;
  line-height: 15px;
  color: white;
  display: flex;   
  font-family: 'Be Vietnam Pro';
}

.forgot-password{
  width: 200px;
  height: 100px;
  top:  500px;
  left: 222px;
  position: absolute;
  font-size: small;
  vertical-align: middle;
  line-height: 15px;
  color: white;
  display: flex;   
  font-family: 'Be Vietnam Pro';

}

#login-email.text-field{
  background-color: #262626;
  border: none;
  width: 300px;
  height: 60px;
  color: white;
  border-radius: 20px;
  font-family: "Be Vietnam Pro";
  padding-left: 20px;
  font-size: medium;
}

#login-password.text-field{
  background-color: #262626;
  border: none;
  width: 300px;
  height: 60px;
  color: white;
  border-radius: 20px;
  font-family: "Be Vietnam Pro";
  font-size: medium;
  padding-left: 20px;
}

#register-email.text-field{
  background-color: #262626;
  border: none;
  width: 300px;
  height: 60px;
  color: white;
  border-radius: 20px;
  font-family: "Be Vietnam Pro";
  padding-left: 20px;
  font-size: medium;
}

#register-password.text-field{
  background-color: #262626;
  border: none;
  width: 300px;
  height: 60px;
  color: white;
  border-radius: 20px;
  font-family: "Be Vietnam Pro";
  font-size: medium;
  padding-left: 20px;
}

#register-div{
  display:none;
}
#result-box{
  display:none;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 16pt;
  color: white;
}

.footer{
  width: 100%;
  height: 50px;
  background-color: var(--color-black);
  position: absolute;
  bottom: 0px;
  line-height: normal;
  z-index: 2;
  opacity: 75%;
  border-top: 2px solid #d63838;
  display:flex;
  box-shadow: 0px 3px 15px 5px #4a0000;
}

.About{
  left: 25px;
}
.Contact{
  left: 125px;
}

.footerstyle{
  width: 125px;
  height: 50px;
  position: absolute;
  font-size: large;
  vertical-align: middle;
  line-height: 15px;
  color: white;
  display: flex;   
  justify-content: center;
  align-items: center;
  font-family: 'Be Vietnam Pro';
}

.cuhanilogodiv{
  position: absolute;
  width: 60px;
  height: 40px;
  left: 96%;
  top: 1px;

}

.cuhanilogo{
  width: 55px;
  height: 45px;
}

.registertext{
  color: #FFFFFF;
  position: absolute;
  font-size: 30px;
  font-family: 'Be Vietnam Pro';
  z-index: 2;
  top: 125px;
  left: 142px;
}

.passwordsquare{
  position: absolute;
  z-index: 2;
  top: 300px;
  left: 115px;
}

.emailsquare{
  position: absolute;
  width: 55px;
  height: 60px;
  z-index: 2;
  top: 200px;
  left: 115px;

}

.signintext{
  color: #FFFFFF;
  position: absolute;
  font-size: 40px;
  font-family: 'Be Vietnam Pro';
  z-index: 2;
  top: 125px;
  left: 210px;
}