*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #333333;
}

:root{
    --color-light-black: #343434;
    --color-red:#2a0000 ;
    --color-light-red: #d63838;
    --color-gray: #333333;
    --color-dark-gray: #262626;
    --color-black: #0A0A0A;
}

h1{
    color: white;
    font-size: 45px;
    font-family: 'Be Vietnam Pro';
    margin: 20px;
    display: flex;
    position: relative;
    left: 435px;
    width: 320px;
}


.header{
    width: 100%;
    height: 60px;
    background-color: var(--color-black);
    border-bottom: 2px solid #d63838;
    display:flex;
    box-shadow: 0px 3px 15px 5px #4a0000;
    padding:0;
}

.profilepicbut{
    display: inline-block;
    position: absolute;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 60px;
    height: 60px;
    right: 5px;
    border: 0;
    background-color: transparent;
    
}

.profilepic{
    display: block;
    width: 45px;
    height: 45px;
}
.profilepic:hover{
    transform: scale(1.1);
}

.cuhanilogotextdiv{
    position: relative;
    padding: 0;
    width:180px;
    height: auto;
    margin: auto;
    display: inline-block;
}

.cuhanilogotext{
    height: 58px;
    width: 180px;
}

.menubutton{
    background-color: transparent;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 6px;
    left: 10px;
    padding: 0;
    border: 0;
    display:flex
}

.menubuttonimage{
    height: 45px;
    width: 45px; 
}

.menuslider{
    background-color: var(--color-black);
    position: absolute;
    height: 93%;
    width: 300px;
    display: none;
    z-index: 2;
}

.menubutton:hover{
    transform: scale(1.1);
}

.button{
    height: 100px;
    width: 100%;
    position: relative;
    color: white;
    background-color: #0A0A0A;
    padding: 10px;
    text-align: left;
    border: none;
    font-family: 'Be Vietnam Pro';
}

.button:hover{
    background-color: #262626;
}

.gamecontainer{
    padding:0;
    margin: 0;
    height: 600px;
    width: 1230px;
    position: absolute;
    background-color: #0A0A0A;
    left: 450px;
    top: 150px;
    border-radius: 25px;
    border: solid 2px var(--color-light-red);
    box-shadow: 0px 0px 15px 10px #4a0000;
}

#board{
    padding:0;
    position: relative;
    left:45px;
    top:45px;
    box-shadow: 0px 0px 15px 5px #4a0000;
}

#scoretext{
    margin:0;
    color: white;
    font-size: 45px;
    font-family: 'Be Vietnam Pro';
    position: absolute;
    top: 45px;
    right: -40px;
    width: 300px;
}

#end{
    width: 250px;
    height: 400px;
    background-color: #0A0A0A;
    position:absolute;
    top:100px;
    left: 485px;
    border-radius: 25px;
    border: solid 2px var(--color-light-red);
    box-shadow: 0px 0px 15px 10px #4a0000;
}

#restartbut{
    padding:0;
    height: 80px;
    width:80px;
    border: 0;
    background: transparent;
    left: 110px;
    
}

#restartpic{
    position: relative;
    padding:0;
    height: 60px;
    width: 60px;
}