
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #333333;
}

:root{
    --color-light-black: #343434;
    --color-red:#2a0000 ;
    --color-light-red: #d63838;
    --color-gray: #333333;
    --color-dark-gray: #262626;
    --color-black: #0A0A0A;
}

h1{
    color: white;
    font-size: 45px;
    font-family: 'Be Vietnam Pro';
    margin: 20px;
    display: flex;
    position: relative;
    left: 300px;
    width: 300px;
}


.header{
    width: 100%;
    height: 60px;
    background-color: var(--color-black);
    border-bottom: 2px solid #d63838;
    display:flex;
    box-shadow: 0px 3px 15px 5px #4a0000;
    padding:0;
}

.profilepicbut{
  display: inline-block;
  position: absolute;
  padding: 0;
  margin: 0;
  vertical-align: top;
  width: 60px;
  height: 60px;
  right: 5px;
  border: 0;
  background-color: transparent;
  
}

.profilepic{
  display: block;
  width: 45px;
  height: 45px;
}
.profilepic:hover{
  transform: scale(1.1);
}

.cuhanilogotextdiv{
  position: relative;
  padding: 0;
  width:180px;
  height: auto;
  margin: auto;
  display: inline-block;
}

.cuhanilogotext{
  height: 58px;
  width: 180px;
}

.menubutton{
  background-color: transparent;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 6px;
  left: 10px;
  padding: 0;
  border: 0;
  display:flex
}

.menubuttonimage{
  height: 45px;
  width: 45px; 
}

.menuslider{
  background-color: var(--color-black);
  position: absolute;
  height: 93%;
  width: 300px;
  display: none;
  z-index: 2;
}

.menubutton:hover{
  transform: scale(1.1);
}

.social-container{
    position: relative;
    top: 30px;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right:auto;
    display:flex;
    border-radius: 5px;
    border: solid 2px var(--color-light-red);
    box-shadow: 0px 0px 15px 10px #4a0000;
    background-color: var(--color-black);
}

.friend-container{
    width: 100%;
    height: auto;
}

.friendcard{
    width: 525px;
    height: 200px;
    background-color: var(--color-light-red);
    position: relative;
    border-radius: 10px;
    margin: 20px;
    margin-left: 45px;
    margin-right: 20px;
    display: inline-block;
    transition: transform .2s;
    border: solid 2px var(--color-light-red);
    box-shadow: 0px 0px 15px 10px var(--color-red);
}

.friendprofilepicbut{
    display: inline-block;
    position: absolute;
    padding: 0;
    border: 0;
    border-radius: 10px;
    background-color: var(--color-black);
}

.fprofilepic{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.info{
    font-family: 'Be Vietnam Pro';
    color: white;
    font-size: 20px;
    position:absolute;
}

#nickname{
    top: 5px;
    left: 105px;
}

#status{
    top: 30px;
    left: 105px;
}

::selection{
    background-color: var(--color-light-red);
    background: #000;
  }
  
  .wrapper{
    max-width: 450px;
    margin: 150px auto;
  }
  
  .wrapper .search-input{
    background: var(--color-light-red);
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  }
  
  .search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  
  .search-input.active input{
    border-radius: 5px 5px 0 0;
  }
  
  .search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }
  
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }
  
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: var(--color-light-red);
  }
  
  .search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
  }

  input {
    background-color: var(--color-light-red);
    
  }
