*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #333333;
}

:root{
    --color-light-black: #343434;
    --color-red:#2a0000 ;
    --color-light-red: #d63838;
    --color-gray: #333333;
    --color-dark-gray: #262626;
    --color-black: #0A0A0A;
}

h1{
    color: white;
    font-size: 45px;
    font-family: 'Be Vietnam Pro';
    margin: 20px;
    display: flex;
    position: relative;
    left: 300px;
    width: 300px;
}


.header{
    width: 100%;
    height: 60px;
    background-color: var(--color-black);
    border-bottom: 2px solid #d63838;
    display:flex;
    box-shadow: 0px 3px 15px 5px #4a0000;
    padding:0;
}

.profilepicbut{
    display: inline-block;
    position: absolute;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 60px;
    height: 60px;
    right: 5px;
    border: 0;
    background-color: transparent;
    
}

.profilepic{
    display: block;
    width: 45px;
    height: 45px;
}
.profilepic:hover{
    transform: scale(1.1);
}

.cuhanilogotextdiv{
    position: relative;
    padding: 0;
    width:180px;
    height: auto;
    margin: auto;
    display: inline-block;
}

.cuhanilogotext{
    height: 58px;
    width: 180px;
}

.menubutton{
    background-color: transparent;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 6px;
    left: 10px;
    padding: 0;
    border: 0;
    display:flex
}

.menubuttonimage{
    height: 45px;
    width: 45px; 
}

.menuslider{
    background-color: var(--color-black);
    position: absolute;
    height: 93%;
    width: 300px;
    display: none;
    z-index: 2;
}

.menubutton:hover{
    transform: scale(1.1);
}

.button{
    height: 100px;
    width: 100%;
    position: relative;
    color: white;
    background-color: #0A0A0A;
    padding: 10px;
    text-align: left;
    border: none;
    font-family: 'Be Vietnam Pro';
}

.button:hover{
    background-color: #262626;
}

.search-box{
    width: 500px;
    background: var(--color-light-red);
    margin: 50px auto 0;
    border-radius: 9px;
}

.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;

}

input{
    flex: 1;
    height: 45px;
    background: transparent;
    border: 0;
    outline: 0;
    color: white;
}

#searchbut{
    background: transparent;
    border: 0;
    outline: 0;
}

#searchbut .fa-sharp{
    width: 25px;
    font-size:large;
}

::placeholder{
    color:white;
}

.resultbox ul{
    border-top: 1px solid var(--color-black);
    padding :15px 10px;
}

.resultbox ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.resultbox ul li:hover{
    background-color: var(--color-red);
}

.resultbox{
    max-height: 300px;
    
}

.social-container{
    position: relative;
    top: 100px;
    width: 75%;
    height: 900px;
    margin-left: auto;
    margin-right:auto;
    display:flex;
    border-radius: 5px;
    border: solid 2px var(--color-light-red);
    box-shadow: 0px 0px 15px 10px #4a0000;
    background-color: var(--color-black);
}