*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #333333;
}

:root{
    --color-light-black: #343434;
    --color-red:#2a0000 ;
    --color-light-red: #d63838;
    --color-gray: #333333;
    --color-dark-gray: #262626;
    --color-black: #0A0A0A;
}

h1{
    color: white;
    font-size: 45px;
    font-family: 'Be Vietnam Pro';
    margin: 20px;
    display: flex;
    position: relative;
    left: 405px;
    width: 300px;
    height: 75px;
}

h2{
    color: white;
    font-size: 35px;
    font-family: 'Be Vietnam Pro';
    margin: 20px;
    display: flex;
    position: absolute;
    width: 300px;
    height: 75px;
    width: 250px;

}

#add-balance{
    left: 370px;
    top: 85px;
}

#your-balance{
    top: 270px;
    left: 365px;
}

.header{
    width: 100%;
    height: 60px;
    background-color: var(--color-black);
    border-bottom: 2px solid #d63838;
    display:flex;
    box-shadow: 0px 3px 15px 5px #4a0000;
    padding:0;
}

.profilepicbut{
    display: inline-block;
    position: absolute;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 60px;
    height: 60px;
    right: 5px;
    border: 0;
    background-color: transparent;
    
}

.profilepic{
    display: block;
    width: 45px;
    height: 45px;
}
.profilepic:hover{
    transform: scale(1.1);
}

.cuhanilogotextdiv{
    position: relative;
    padding: 0;
    width: 180px;
    height: auto;
    margin: auto;
    display: inline-block;
}

.cuhanilogotext{
    height: 58px;
    width: 180px;
}

#logobut{
    padding:0;
    margin:0;
    height: 58px;
    width: 180px;
    background: transparent;
    border: none;
}

.menubutton{
    background-color: transparent;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 6px;
    left: 10px;
    padding: 0;
    border: 0;
    display:flex
}

.menubuttonimage{
    height: 45px;
    width: 45px; 
}

.menuslider{
    background-color: var(--color-black);
    position: absolute;
    height: 93%;
    width: 300px;
    display: none;
    z-index: 2;
}

.menubutton:hover{
    transform: scale(1.1);
}

.button{
    height: 100px;
    width: 100%;
    position: relative;
    color: white;
    background-color: #0A0A0A;
    padding: 10px;
    text-align: left;
    border: none;
    font-family: 'Be Vietnam Pro';
}

.button:hover{
    background-color: #262626;
}

.block{
    width: 1000px;
    height: 600px;
    border-radius: 30px;
    background-color: var(--color-black);
    display: flex;
    position: absolute;
    left: 24%;
    top: 12rem;
    box-shadow: 0px 3px 15px 5px var(--color-red);
    border: 2px solid var(--color-light-red);

}

.money{
    height: 50px;
    width: 255px;
    position: relative;
    top: 170px;
    left: -92px;
    margin: 20px;
    border-radius: 20px;
    background-color: var(--color-red);
    transition: transform .2s;
    color: white;
    font-family: 'Be Vietnam Pro';
    border: 2px solid var(--color-light-red);
    

}

.money:hover{
    transform: scale(1.1);
    box-shadow: 0px 3px 15px 5px var(--color-red);
}

.blanace-div{
    width: 260px;
    height: 55px;
    background-color: var(--color-red);
    border: 2px solid var(--color-light-red);
    position: absolute;
    top: 395px;
    left: 22rem;
    color: white;
    font-family: 'Be Vietnam Pro';
    font-size: 24px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 20px;

}
